<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TAP_CHANGER;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Syncfusion.Data.WPF" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-18.4460.0.47" newVersion="18.4460.0.47" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>